{% extends "students/base.html "%}


{% block body %}
    <style>
        .add-subject-btn{
            margin-top: 5px;
            width: 120px;
            height: 40px;
        }
        .search-bar{
            box-shadow: 1px 2px 1px 1px  #009CFF;
            width: 400px;
            height: 40px;
        }

    </style>
    <div class="container-fluid">
       <br>
        <div class="row">
            <div class="col-12">
                {% if subjects %}
                    <div class="card bg-light ms-4 mb-4">
                        <div class="card-heading">
                            <h4 class="me-5 subs-head"><i class="fa-solid fa-pen-to-square"></i>Subject Records</h4>
                            <form class="col-5 mb-2 me-5 ">
                                <input class="form-control border-1 search-bar" type="search" placeholder="Search">
                            </form>
                            <a class="btn btn-primary add-subject-btn" href="{% url 'add_subject' %}">
                                Add Subject
                            </a>

                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Subject Name</th>
                                                <th>Number of Teachers</th>
                                                <th>Total Students InRolled </th>
                                                <th scope="col">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for subject in subjects %}
                                                <tr>
                                                    <td>{{ subject.subject_name }}</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        <button type="button" class="btn btn-success me-1"
                                                                href="{% url 'view_subject' subject.id %}"
                                                                data-bs-toggle="modal" data-bs-target="#myModal{{subject.id}}">
                                                                View
                                                        </button>

                                                        <!-- modal for viewing -->
                                                        <div class="modal" id="myModal{{subject.id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                                             <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title">Subject: subject_name </h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true"></span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                       <ul class="list-unstyled">

                                                                           <li>First Name: <strong>{{ subject.subject_name }}</strong></li>

                                                                       </ul>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                         <a class="btn btn-primary me-1" href="{% url 'subject_assignment' subject.subject_name request.session.academic_year_id %}">
                                                           Teachers
                                                        </a>
                                                        <a class="btn btn-warning me-1" href="{% url 'edit_subject' subject.id %}">
                                                           Edit
                                                        </a>
                                                    </td>

                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <h5 class="alert alert-primary ms-4 me-4"> No Subjects Records</h5>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}