{% extends "teachers/teacher_base.html "%}
{% block body %}
    <div class="container-fluid">
       <br>
        <div class="row">
            <div class="col-12">
                {% if student_subject %}
                   <div class="card bg-light ms-4 mb-4">
                        <div class="card-heading">
                            <h5 class="me-5 subs-head">{{class_name}} {{ subject_name }} Students </h5>
                            <form class="col-5 mb-2 me-5 ">
                                <input class="form-control border-1 search-bar" type="search" placeholder="Search">
                            </form>
                            <h5 class="me-5 subs-head" >{{ academic_year.year }} {{ academic_year.term }}</h5>

                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th>
                                                <th scope="col">Gender</th>
                                                <th scope="col">Grade</th>
                                                <th scope="col">Points</th>
                                                <th scope="col">Action</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for student in student_subject %}
                                                <tr>
                                                    <td>{{ student.stud_name.firstname }}</td>
                                                    <td>{{ student.stud_name.lastname }}</td>
                                                    <td>{{ student.stud_name.gender }}</td>
                                                    <td>{{ student.scores }}</td>
                                                    <td></td>
                                                    <td>

                                                        <button type="button" class="btn btn-danger me-1" onclick="confirmDelete({{ student.id }})">
                                                            Unregister
                                                        </button>

                                                        <!-- Form to unregister student -->
                                                        <form id="delete-form-{{ student.id }}" action="{% url 'unregister' student.id %}" method="POST" style="display: none;">
                                                            {% csrf_token %}
                                                        </form>
                                                       <a class="btn btn-success me-1" href="{% url 'edit_grade' student.id %}">
                                                           Edit Grade
                                                        </a>
                                                        <!--
                                                        <button type="button" class="btn btn-success me-1"
                                                                href="{% url 'view_student' student.id %}"
                                                                data-bs-toggle="modal" data-bs-target="#myModal{{student.id}}">
                                                                View
                                                        </button>

                                                        modal for viewing
                                                        <div class="modal" id="myModal{{student.id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                                             <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title">Student: {{ student.firstname }} {{ student.lastname }} </h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true"></span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                       <ul class="list-unstyled">

                                                                           <li>First Name: <strong>{{ student.firstname }}</strong></li>
                                                                           <li>Last Name: <strong>{{ student.lastname }}</strong></li>
                                                                           <li>Class <strong>{{ student.grade }}</strong></li>

                                                                       </ul>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        -->

                                                    </td>

                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <h5 class="alert alert-primary ms-4 me-4"> No Student is Registered</h5>
                {% endif %}
            </div>
        </div>
    </div>
        <!-- SweetAlert Script -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
        {% if messages %}
            {% for message in messages %}
                Swal.fire({
                    icon: "{% if 'error' in message.tags %}error{% elif 'success' in message.tags %}success{% elif 'warning' in message.tags %}warning{% else %}info{% endif %}",
                    title: "{{ message|escapejs }}",
                    showConfirmButton: true,
                    timer: 5000
                });
            {% endfor %}
        {% endif %}
        function confirmDelete(teacherId) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Unregister Student!'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('delete-form-' + teacherId).submit();
                }
            })
        }
    </script>

{% endblock %}